@model SignalRMessager.Models.GroupView

@{
    ViewData["Title"] = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="breadcrumb">
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a asp-controller="Groups" asp-action="Index">Groups</a></li>
    <li><a class="active">
            @if (Model.DM)
            {
                @Html.DisplayFor(Model => Model.OtherUserName);
            }
            else if (!Model.DM)
            {
                @Html.DisplayFor(Model => Model.GroupName);
            }
        </a>
    </li>
</ul>

<link rel="stylesheet" href="~/css/groupA.css" />
<style>
    .well-ext {
        background-color: #062a44;
        color: #d3d3d3;
        text-align: left;
        word-wrap: break-word;
        max-width: 80%;
    }

    .well-int {
        color: #062a44;
        background-color: #d3d3d3;
        text-align: right;
        word-wrap: break-word;
        max-width: 80%;
    }
</style>

<h2>
    @if (Model.DM)
    {
        @Html.DisplayFor(Model => Model.OtherUserName);
    }
    else if(!Model.DM)
    {
        @Html.DisplayFor(Model => Model.GroupName);
    }
</h2>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <hr />
            </div>
        </div>
        <div class="container">
            <div class="col-6" align="center">&nbsp;</div>
            <div class="col-6">
                <ul class="col-xs-12 col-lg-8 col-xs-push-1 text-left" id="messagesList">
                    @foreach (var item in Model.Messages)
                    {
                        if (item.UserId != Model.CurrentUser.Id)
                        {
                            <li class="well well-sm well-ext">@Html.DisplayFor(modelItem => item.Body)</li>
                        }
                        else
                        {
                            <li class="well well-sm well-int">@Html.DisplayFor(modelItem => item.Body)</li>
                        }
                    }
                </ul>
            </div>
            <div class="row">&nbsp;</div>
            <div class="sidenav col-sm-6">
                <div></div>
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li class="btn-group-vertical" style="width:60%">
                        <a asp-action="Details" class="btn btn-default btn-block" asp-route-id="@Model.GroupId">Details</a>
                        <a asp-action="Edit" class="btn btn-default btn-block" asp-route-id="@Model.GroupId">Edit</a>
                        @if (!Model.DM)
                        {
                            <a asp-controller="GroupUsers" class="btn btn-default btn-block" asp-action="Index" asp-route-id="@Model.GroupId" asp-route-dm="@Model.DM">Manage Members</a>
                        }
                    </li>
                    @foreach (var user in Model.Users)
                    {
                        if (user.Active == true)
                        {
                            <li id="@user.Id"><span class="dot" id="online"></span> @Html.DisplayFor(modeluser => user.UserName)</li>}
                        else if (user.Active == false)
                        {
                            <li id="@user.Id"><span class="dot" id="offline"></span> @Html.DisplayFor(modeluser => user.UserName)</li>}

                    }
                </ul>
            </div>
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="container">
                    <form autocomplete="off">
                        <input asp-for="@Model.CurrentUser.Id" type="hidden" id="userId" />
                        <input asp-for="@Model.CurrentUser.UserName" type="hidden" id="userName" />
                        <br />
                        <input type="text" id="messageInput" class="form-control col-md-2 col-md-push-3" style="width:40%;" required/>
                        <input type="submit" onclick="sendMessage();" class="btn btn-default col-sm-2 col-md-push-3" value="Send Message" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/connectA.js"></script>
<script src="~/js/groupE.js"></script>
<script>
    const gId = @Model.GroupId;
    window.onload = function () {
        scroll(0);
        setTimeout(function () { userOnline() }, 200)
    };
    window.onbeforeunload = function () { userOffline() };
</script>
